<%- include('base/top') -%>

<div class="row">
    <div class="col">
        <h1>New Monitor</h1>
        <form method="POST" action="">
            <div class="form-group">
                <% 
                    [        
                        "pool_contract_address",
                        "token_address",
                        "wallet_address",
                        "market",
                        "min_delta",
                        "max_delta",
                        "refresh_rate",
                        "ftx_key",
                        "ftx_secret",
                        "infura_key",
                        "sub_account"                    
                    ].forEach(field=>{%>
                <%
                    var title = field[0].toUpperCase() + field.slice(1).replace("_", " ");
                %>
                <label for="<%=field%>"><%=title%></label>
                <input required type="text" class="form-control" id="<%=field%>" name="<%=field%>"
                    aria-describedby="<%=field%>Help" placeholder="<%=title%>">
                <%})%>
            </div>
            <button type="submit" id="register-btn" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

<%- include('base/scripts') -%>
<%- include('base/bottom') -%></input>