<%- include('base/top') -%>
<% 
  let jwt = user.jwt;
  let scopedUser = {...user};
  delete scopedUser.jwt;
%>

<div class="row">
  <div class="col">
    <div>
      <h2>JWT</h2>
      <blockquote class="blockquote bg-light p-3 text-break">
        <%=jwt%>
      </blockquote>
    </div>
    <div>
      <h2>Tamper monkey script</h2>
      <blockquote class="blockquote bg-light p-3 text-break">
        <%- include('tamper') -%>
      </blockquote>
    </div>
    <div>
      <h2>Current user configuration</h2>
      <blockquote class="blockquote bg-light p-3 text-break">
        <pre><%=JSON.stringify(scopedUser, null, 2);%></pre>
      </blockquote>
    </div>
  </div>
</div>

<%- include('base/scripts') -%>
<%- include('base/bottom') -%>