<%- include('base/top') -%>
<h2>Transactions</h2>
<table class="table table-responsive">
    <style scoped>
        .action :first-child {
            margin-bottom: .5em;
        }
    </style>
    <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Amount</th>
            <th scope="col">Side</th>
            <th scope="col">Market</th>
            <th scope="col">Position before transaction</th>
            <th scope="col">Position after transaction</th>
            <th scope="col">Status</th>
            <th scope="col">-</th>
        </tr>
    </thead>
    <tbody>
        <%transactions.sort((a,b)=> b.createdAt - a.createdAt)%>
        <% transactions.forEach(t=>{ %>
        <tr>
            <th scope="row"><%= new Date(t.createdAt).toLocaleString() %> </th>
            <td><%= t.amount %> </td>
            <td><%= t.side %> </td>
            <td><%= t.market %> </td>
            <td><%= t.position_before_transaction %> </td>
            <td><%= t.position_after_transaction %> </td>
            <% if(t.status === "COMPLETE") {%>
            <td colspan="2" class="text-success text-bold"><%= t.status %> </td>
            <%} else if(t.status === "REJECTED") {%>
            <td colspan="2" class="text-danger"><%= t.status %> </td>
            <%} else if(t.status === "PENDING") {%>
            <td class="text-warning"><%= t.status %> </td>
            <td class="action">
                <form action="/transactions/approve" method="POST">
                    <input type="hidden" value="<%=t._id%>" name="transaction_id" />
                    <button class="btn btn-sm btn-success btn-block">Approve</button>
                </form>
                <form action="/transactions/reject" method="POST">
                    <input type="hidden" value="<%=t._id%>" name="transaction_id" />
                    <button class="btn btn-sm btn-danger btn-block">Reject</button>
                </form>
            </td>

            <%}%>
        </tr>
        <% }); %>
    </tbody>
</table>


<%- include('base/scripts') -%>
<%- include('base/bottom') -%>