<%- include('base/top') -%>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<% 
  let jwt = user.jwt;
  let scopedUser = {...user};
  delete scopedUser.jwt;
%>

<div class="row">
  <div class="col">
    <div>
      <h2>Monitor</h2>
      <blockquote class="blockquote bg-light p-3">
        <div class="row">
          <div class="col">
            <span class="font-weight-bold">State:</span>
            <%if (monitor.state  === "STOPPED") { %>
            <span class="text-danger">STOPPED</span>
            <% }else if(monitor.state  === "RUNNING"){ %>
            <span class="text-success">RUNNING</span>
            <% }else if(monitor.state  === "STOPPED_DUE_TO_EXTERNAL_REASON"){ %>
            <span class="text-warning">STOPPED_DUE_TO_EXTERNAL_REASON - <%=monitor.reason%></span>
            <% } %> |
            <span class="font-weight-bold">Started at: </span><span><%=monitor.startedAt && monitor.startedAt.toLocaleString()%> </span>
            <%if (monitor.state  === "STOPPED") { %>
            <form class="float-right" action="monitor-start" method="post">
              <input type="hidden" name="monitorID" value="<%=monitor.id%>" />
              <button class="btn btn-success">Start</button>
            </form>
            <% }else if(monitor.state  === "RUNNING"){ %>
            <form class="float-right" action="monitor-stop" method="post">
              <input name="monitorID" type="hidden" value="<%=monitor.id%>" />
              <button class=" btn btn-danger float-right">Stop</button>
            </form>
            <% }else if(monitor.state  === "STOPPED_DUE_TO_EXTERNAL_REASON"){ %>
            <form class="float-right" action="monitor-start" method="post">
              <input name="monitorID" type="hidden" value="<%=monitor.id%>" />
              <button class=" btn btn-success float-right">Start</button>
            </form>
            <% } %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="font-weight-bold">Last updated:
            </span><span><%=((new Date() - monitor.lastUpdatedAt)/1000).toFixed(2)%>s</span>
            |
            <span class="font-weight-bold">Last value observed:
            </span><span><%=monitor.lastValue && monitor.lastValue.toFixed(2)%></span>
            |
            <span class="font-weight-bold">Last position:
            </span><span><%=scopedUser.last_position.toFixed(2)%></span>
          </div>
        </div>

      </blockquote>
    </div>
    <div>
      <h2>Current user configuration</h2>
      <blockquote class="blockquote bg-light p-3 text-break">
        <pre><%=JSON.stringify(scopedUser, null, 2);%></pre>
      </blockquote>
    </div>
  </div>
</div>

<%- include('base/scripts') -%>
<%- include('base/bottom') -%>