<%- include('base/top') -%>

<div class="row">
    <div class="col">
        <h1>Settings</h1>
        <form id="register-form" action="update-settings" method="POST">
            <div class="form-group">
                <label for="max_delta">max_delta</label>
                <input type="string" class="form-control" value="<%=trade_settings.max_delta%>" id="max_delta"
                    name="max_delta" aria-describedby="max_deltaHelp" placeholder="max_delta">


                <label for="min_delta">min_delta</label>
                <input type="string" class="form-control" value="<%=trade_settings.min_delta%>" id="min_delta"
                    name="min_delta" aria-describedby="min_deltaHelp" placeholder="min_delta">

                <label for="refresh_rate">refresh_rate</label>
                <input type="number" class="form-control" id="refresh_rate" value="<%=trade_settings.refresh_rate%>"  name="refresh_rate"
                    aria-describedby="refresh_rateHelp" placeholder="refresh_rate">

            </div>
            <button type="submit" id="register-btn" class="btn btn-primary">Update</button>
            <span id="message"></span>
        </form>
    </div>
</div>

<%- include('base/scripts') -%>
<%- include('base/bottom') -%>